@import "../../../node_modules/bootstrap/scss/functions";
// Include any default variable overrides here

$dark: #2d3035;
$body-bg: #22252a;
$white: #f1ffff;
$custom-font-family: 'Vazir';

/*
|----------------------------------------------|
|  card variables
| ---------------------------------------------|
*/
//$card-spacer-y:                     $spacer;
//$card-spacer-x:                     $spacer;
//$card-title-spacer-y:               $spacer / 2;
//$card-border-width:                 $border-width;
//$card-border-radius:                $border-radius;
//$card-border-color:                 rgba($black, .125);
//$card-inner-border-radius:          subtract($card-border-radius, $card-border-width);
//$card-cap-padding-y:                $card-spacer-y / 2;
//$card-cap-padding-x:                $card-spacer-x;
//$card-cap-bg:                       rgba($black, .03);
//$card-cap-color:                    null;
$card-height:                       null; //100% for equal cards in a row
$card-color:                        $white;
$card-bg:                           $dark;
//$card-img-overlay-padding:          $spacer;
//$card-group-margin:                 $grid-gutter-width / 2;


// Required Bootstrap stylesheets
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

// Optional Bootstrap components
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/accordion";
@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/close";
@import "../../../node_modules/bootstrap/scss/toasts";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/popover";
@import "../../../node_modules/bootstrap/scss/carousel";
@import "../../../node_modules/bootstrap/scss/spinners";
@import "../../../node_modules/bootstrap/scss/offcanvas";
@import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/utilities/api";

// additional custom code
@import "custom";