.page-header {
  padding: 20px 15px;
  background: #2d3035;
  color: #8a8d93;
  margin-bottom: 30px;
}

.breadcrumb {
  padding: 0 1.6rem;

  .breadcrumb-item {
    color: $gray-500;

    a {
      text-decoration: none;
      color: $orange;
      transition: 0.3s;

      &:hover{
        color: darken($orange, 10)
      }
    }

    &.active {
      color: $gray-700;
    }
  }
}

.section-x-padding {
  padding: 0 1.6rem;
}

code {
  direction: rtl !important;
  text-align: left;
}