/*
* ==========================================================
*     NAVBAR
* ==========================================================
*/
.search-panel {
  display: none;
}

nav.navbar {
  color: $white;
  border-bottom: 1px solid #34373d;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;

  .navbar-toggler {
    position: fixed;
    right: 20px;
    color: $gray-500;
    outline: none;

    &:focus {
      box-shadow: 0 0 0 0.05rem;
      outline: 0;
      text-decoration: none;
    }
  }

  .search-inner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(45, 48, 53, 0.95);
    z-index: 9;

    .close-btn {
      position: absolute;
      top: 20px;
      right: 40px;
      font-size: 1.1em;
      font-weight: 400;
      cursor: pointer;
    }

    form {
      width: 100%;
      max-width: 800px;
      padding: 20px;
    }

    .form-group {
      position: relative;
    }

    .submit {
      background: none;
      font-size: 2.3rem;
      position: absolute;
      right: 0;
      bottom: 0;
      color: #8a8d93;
      border: none;
      font-weight: 700 !important;
    }

    input {
      background: none;
      width: 100%;
      font-size: 2rem;
      border: none;
      border-bottom: 1px solid #444951;
      color: $gray-700;
      outline: none;
      padding: 0.25rem;
    }

    input::-moz-placeholder {
      font-family: $custom-font-family;
      font-weight: 300 !important;
      color: #585a5f;
    }

    input::-webkit-input-placeholder {
      font-family: $custom-font-family;
      font-weight: 300 !important;
      color: #585a5f;
    }

    input:-ms-input-placeholder {
      font-family: $custom-font-family;
      font-weight: 300 !important;
      color: #585a5f;
    }
  }

  .sidebar-toggle {
    width: 36px;
    height: 36px;
    line-height: 29px;
    text-align: center;
    background: transparent;
    color: $white;
    font-size: 1.1rem;
    border: none;
    outline: none;
  }

  .menu-large {
    position: static !important;
  }

  a {
    color: inherit;

    &.nav-link {
      padding: .5rem .3rem;
      position: relative;

      .badge {
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        padding: 0;
        font-size: 0.7rem;
        position: absolute;
        top: 0;
        right: -10px;
      }
    }
  }

  .brand-text {
    display: none;
    font-weight: 700;

    &.visible {
      display: block;
    }
  }

  .dropdown-menu {
    max-width: 300px;
  }

  .dropdown-item {
    padding: 1rem;
    border-bottom: 1px solid #393c43;

    &:last-of-type {
      border-bottom: none;
    }

    &.message {
      overflow: hidden;
    }

    .profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      .status {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        top: 2px;
        right: 2px;

        &.online {
          background: $green;
        }

        &.away {
          background: $yellow;
        }

        &.busy {
          background: $red;
        }

        &.offline {
          background: $secondary;
        }
      }
    }

    .content {
      flex: 1;

      strong {
        font-size: 1rem;
      }

      p {
        font-weight: 300;
        font-size: 0.85rem;
        max-width: 200px;
      }

      .date {
        color: #70737a;
      }
    }

  }

  // end of dropdown-item

  .messages {
    a {
      padding: 15px !important;
    }
  }

  // .messages

  // tasks
  .tasks-list {
    strong {
      font-size: 0.8rem;
      margin-right: 0.8rem;
    }

    span {
      font-size: 0.95rem;
    }

    .progress {
      height: 2px;
      margin-top: 10px;
      background: $gray-700;
    }
  }

  // .tasks-list

  .trailing {
    font-size: 0.85rem;
  }


  .megamenu {
    width: 100%;
    max-width: unset;
    left: 0;
    right: 0;
    padding: 40px 30px;
    margin-top: 0 !important;
    z-index: 11 !important;

    strong {
      margin-bottom: 10px;
      display: block;
    }

    ul {
      padding: 0;
      margin: 0;

      a {
        padding: 5px 0;
        text-decoration: none;
        color: $gray-500;
        font-size: 0.9em !important;

        &:hover {
          background: none;
          color: $orange !important;
        }
      }

      li {
        margin-bottom: 5px;
      }
    }
  }
}

/* Navbar Media Query ----------------------------------- */
@media (max-width: 1199px) {}

@media (max-width: 991px) {
  nav.navbar .dropdown-menu {
    position: absolute;
    margin-top: 0;
    width: 100%;
    max-width: unset;
    left: 0;
    right: 0;
  }
  nav.navbar .megamenu {
    right: 0 !important;
  }
  nav.navbar a.nav-link {
    font-size: 0.85rem;
  }
  nav.navbar a.nav-link .badge {
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    font-size: 0.6rem;
  }
  #top-collapsable-navbar{
    padding-top: 0.5rem;
  }
  #top-collapsable-navbar > ul {
    //display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #top-collapsable-navbar > ul > li {
    position: static;
  }
}