/*
* ==========================================================
*     SIDEBAR
* ==========================================================
*/
.page-content {
  position: relative;
  background: #22252a;
  min-height: 100vh;
  width: calc(100% - 280px);
  padding: 0;
  padding-bottom: 70px;
}

.page-content.active {
  width: 100%;
}

nav#sidebar {
  width: 280px;
  background: $dark;
  color: $white;
  border-right: 1px solid #34373d;
  transition: ease all 0.2s;

  &.shrinked {
    width: 80px;

    .sidebar-header {
      padding: 10px;
      margin-bottom: 0;

      .title {
        display: none;
      }

      .avatar {
        width: 50px;
        height: 50px;
        margin-bottom: 0;
      }

      button {
        margin-top: 0 !important;
        font-size: 0.7rem;
      }
    }// sidebar-header

    span.heading {
      margin-left: 0;
      text-align: center;
      border: none;
      display: block;
      font-size: 0.8rem;
      background-color: $orange;
      color: $white;
      padding: 5px 0;
    }

    ul {
      max-height: none;
      a {
        padding: 14px 5px;
        display: block;
        font-weight: 400;
        text-align: center;
        font-size: 0.7rem;
        word-break: break-word;
      }
      i {
        font-size: 1.2rem;
        text-align: center !important;
        width: 100%;
        display: block !important;
        border: none !important;
        padding: 0 !important;
      }

      ul a {
        padding-left: 10px;
      }// ul
    }// ul

    a[data-toggle="collapse"]::after {
      content: '\f107';
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 88%;
      left: 50%;
    }

    a[aria-expanded="true"]::after, a[aria-expanded="false"]::after {
      left: 0;
      right: 0;
      text-align: center;
      bottom: 0;
    }

    a[aria-expanded="false"]::after {
      content: '\f282';
    }

    a[aria-expanded="true"]::after {
      content: '\f286';
    }

  }// shrinked

  .sidebar-header {
    padding: 30px 20px;
    border-bottom: 1px solid lighten($dark, 5);
    margin-bottom: 1rem;

    .avatar {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      overflow: hidden;
      background: none;
      padding: 4px;
      border: 3px solid darken($dark, 5);
      margin-bottom: 0.25rem;
    }

    h5, p {
      margin-bottom: 0;
      text-align: center;
    }

    h5 {
      color: $gray-400;
    }

    p {
      font-size: 0.9rem;
      color: $gray-600;
    }
  }

  span {
    &.heading {
      font-weight: 300;
      margin-left: 20px;
      border-left: 5px solid $orange;
      padding-left: 0.5rem;
      color: orange;
      font-size: 0.8rem;
      margin-bottom: 15px;
    }
  }

  ul {
    max-height: none;
  }

  li {
    position: relative;

    &::before {
      content: '';
      width: 2px;
      height: 100%;
      background: none;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }

    &.active::before {
      background: $orange;
    }

    &.active > a {
      background: #34373d;
      color: #bfc1c4;
    }

    &.active i {
      color: $orange;
    }

    a {
      padding: 18px 20px;
      display: block;
      font-weight: 400;
      font-size: 1rem;

      &:hover {
        background: #34373d;
        color: $orange;

        i {
          color: $orange;
        }
      }

      i {
        margin-right: 20px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        padding-right: 20px;
        border-right: 1px solid #454649;
      }
    }// a

    li {
      &.active > a {
        background: #292c32;
      }
    }

    li a {
      padding: 14px 14px 14px 60px;
      background: #22252a;
      font-size: 0.85rem;

      &:hover {
        background: #292c32;
        color: $orange;
      }
    } // li a
  } // li



  a {
    color: inherit;
    text-decoration: none;
    position: relative;

    i {
      font-size: 1.2em;
      margin-right: 10px;
      -webkit-transition: none;
      transition: none;
    }
  }

  a[data-toggle="collapse"]::after {
    content: '\f104';
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    right: 20px;
  }

  a[aria-expanded="true"] {
    background: #34373d;
  }

  a[aria-expanded="false"]::after {
    position: absolute;
    right: 1.5rem;
    content: '\f284';
    font-family: bootstrap-icons !important;
  }

  a[aria-expanded="true"]::after {
    position: absolute;
    right: 1.5rem;
    content: '\f282';
    font-family: bootstrap-icons !important;
  }
}

/* Sidebar Media Query ----------------------------------- */
@media (max-width: 1199px) {
  .page-content {
    width: 100%;
  }
  .page-content.active {
    width: calc(100% - 80px);
  }
  nav#sidebar {
    width: 80px;
    margin-left: -80px;
  }
  nav#sidebar .sidebar-header {
    padding: 10px;
  }
  nav#sidebar .sidebar-header .title {
    display: none;
  }
  nav#sidebar span.heading {
    margin-left: 0;
    display: block;
    text-align: center;
    font-size: 1rem;
  }
  nav#sidebar ul {
    max-height: none;
  }
  nav#sidebar ul a {
    padding: 12px 5px;
    display: block;
    font-weight: 400;
    text-align: center;
    font-size: 0.8rem;
  }
  nav#sidebar ul i {
    font-size: 1.2rem;
    text-align: center !important;
    width: 100%;
    display: block !important;
    border: none !important;
    padding: 0 !important;
  }
  nav#sidebar ul ul a {
    padding-left: 10px;
  }
  nav#sidebar.shrinked {
    margin-left: 0;
  }
  nav#sidebar a[data-toggle="collapse"]::after {
    content: '\f107';
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 88%;
    left: 50%;
  }
  nav#sidebar a[aria-expanded="true"]::after {
    content: '\f106';
  }
}