{% extends 'layout.nunjucks' %}
{% block content %}
<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 mb-0">داشبورد</h2>
    </div>
</div>
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">داشبورد</a></li>
        <li class="breadcrumb-item">کارت ها</li>
        <li class="breadcrumb-item active">کارت های خلاق</li>
    </ul>
</div>

<section class="section-x-padding mt-4">
    <div class="row g-4">
        <!-- todo: complete this page -->
    </div>
</section>
{% endblock %}